<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>743411420757-o06ibvimb732sbosddp05p8tksa9kata.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.743411420757-o06ibvimb732sbosddp05p8tksa9kata</string>
	<key>API_KEY</key>
	<string>AIzaSyDv7sBd9IMwPCpzdykR-8YsQ_VZTg9a-10</string>
	<key>GCM_SENDER_ID</key>
	<string>743411420757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-53511</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-53511.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:743411420757:ios:1e1045a926541cb0ec4edc</string>
</dict>
</plist>